.container {
  width: 200px;
  height: 200px;
  background: #666;
  margin: 20px;
  border-radius: 10px 20px 30px 40px;
}

.circle {
  width: 200px;
  height: 200px;
  background: #666;
  margin: 20px;
  /*border-radius: 10px 20px 30px 40px;*/
  border-radius: 50%;
  border: 10px solid #888;
}